/* DualTone pullquote block customizations
------------------------------------------- */
.wp-block-pullquote {
    border-bottom: 2px solid var(--wp--preset--color--accent);
    border-top: 2px solid var(--wp--preset--color--accent);
    color: currentColor;
    margin-bottom: 1.75em;
}
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
    color:currentColor;
    font-size: 0.8125em;
    font-style: normal;
    text-transform: uppercase;
}
