<!-- wp:template-part {"slug":"top-bar","className":"site-topbar"} /-->

<!-- wp:group {"metadata":{"name":"sidebar-content-wrap"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"metadata":{"name":"sidebar-content-columns"},"align":"wide","style":{"spacing":{"blockGap":{"top":"0px","left":"0px"}}},"className":"is-style-sidebar-content"} -->
<div class="wp-block-columns alignwide is-style-sidebar-content"><!-- wp:column {"width":"","metadata":{"name":"sidebar"},"className":"is-style-sidebar-left","layout":{"type":"default"}} -->
<div class="wp-block-column is-style-sidebar-left"><!-- wp:group {"metadata":{"name":"sticky container"},"style":{"position":{"type":"sticky","top":"0px"}}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"sidebar-header","theme":"dualtone","tagName":"header","className":"site-header"} /-->

<!-- wp:template-part {"slug":"sidebar-content","theme":"dualtone"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","metadata":{"name":"content"},"className":"is-style-content-right","layout":{"type":"default"}} -->
<div class="wp-block-column is-style-content-right"><!-- wp:template-part {"slug":"search-title","theme":"dualtone"} /-->

<!-- wp:template-part {"slug":"default-loop","theme":"dualtone"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"site-footer"} /-->